* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact-us .general-details
{
    top:0;
    bottom: 0%;
}

.contact-contents{
    gap: 5rem;
}
.contact-form{
    background: #0F0F0F;
    width: 74rem;
    padding: 4rem;
    margin: auto;
}
.contact-form form{
    gap: 3.5rem;
}
@media (max-width:1200px) {
    .contact-form{
        width: 90%;
    }
}
@media (max-width:992px) {
    .contact-form form .row .col.form-group{
        width: 100% !important;
    }
    .contact-form form{
        gap: 3.5rem;
    }
    .contact-form form .gap2{
        gap: 3.5rem;
    }
}
@media (max-width:600px) {
    .contact-form{
        padding: 2.5rem;
    }
}
@media (max-width:480px) {
    .contact-form{
        padding: 2rem;
    }
    .contact-form form .gap2, .contact-form form{
        gap: 2rem;
    }
}