* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.event-info{
    gap: 5rem;
}
.general-info{
    height: 100vh;
    position: relative;
}
.general-info img{
    height: 100vh;
    object-fit: cover;
}

.general-details{
   width: 60vw; 
    position: absolute;
    right: 0;
    bottom: 5%;
    left: 0;
    margin: auto;
    gap: 4rem;
}
.general-details .box{
    width: 10rem;
    height: 10rem;
    border:1px solid #ffff;
}
.general-details .buttons a{
    padding: 1.3rem 3rem;
    font-weight: 600;
    font-size: 1.5rem;
}

.general-details .paragraph, .main-contents .card .paragraph{
    font-size: 1.2rem;
    line-height: 2rem; 
}
.general-info .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 1) 30%, rgba(255, 255, 255, 0) 100%);
}
.general-info .top-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}
.date{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
}
.month{
    font-size: 2.5rem;
    line-height: 3.5rem;
    font-weight: 700;
}
.time{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}
.detail-info{
    gap: 4rem;
}
.main-contents .card{
    background:#070707;
}
.main-contents .row .card:hover{
    scale: 1;
}
.main-contents .row .col-lg-7{
    padding: 4rem 0 2rem 0;
}
.main-contents .row .col-lg-5{
    display: flex;
    padding: 4rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    flex: 1 0 0;
}
@media (max-width:1100px) {
    .general-details{
        width: 80vw;
    }
}
@media (max-width:767px) {

    .general-details{
        width: 100vw;
        padding: 0 1.5rem;
        top:0;
        bottom:0;
    }
    .general-details .buttons a{
        padding:1rem 2rem;
    }
    .detail-info {
        gap: 2rem;
    }
    .general-details .box{
        width:8rem;
        height:8rem;
    }
    .date{
        font-size:2.5rem;
        line-height: 3rem;
    }
    .month{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .time{
        font-size: 1.2rem;
    }
    .main-contents .row .col-lg-5, .main-contents .row .col-lg-7{
        padding: 1.5rem;
    }
    .buttons.gap-3{
        gap: 2.5rem !important;
    }

}
@media (max-width:600px) {
    
    .general-details{
        gap:3rem;
    }
    .general-details .buttons a{
        font-size: 1.2rem;
        padding: 0.8rem 1.8rem;
    }
   
}
@media (max-width:480px) {
    .general-details{
        gap:2rem;
    }
    .general-details .buttons a{
        font-size: 1rem;
        padding: 0.6rem 1.6rem;
    }
    .general-details .paragraph, .main-contents .card .paragraph{
        font-size: 1rem;
    }
    .date{
        font-size:2.5rem;
        line-height: 3rem;
    }
    .month{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .time{
        font-size: 1.2rem;
    }
    .event-info{
        gap: 0;
    }
    .detail-info{
        gap: 1rem;
    }
    .buttons.gap-3{
        gap: 1.5rem !important;
    }
    .main-contents .row.gap2{
        gap: 0;
    }
   
}
@media (max-width:400px) {
    .general-info{
        height: 110vh;
    }
    .general-details{
        bottom:1%;
        gap:1.5rem;
    }
    .general-details .box{
        width:6rem;
        height:6rem;
    }
    .date{
        font-size:2rem;
        line-height: 2.5rem;
    }
    .month{
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .time{
        font-size: 1rem;
    }
    .general-details .buttons a {
        padding: 0.5rem 1.2rem;
        font-size: 0.8rem;
    }
    .buttons.gap-3{
        gap: 1rem !important;
    }
}