* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excon', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

.list{
    padding-top: 13rem;
}
/* .list .event-details{
    padding-bottom: 3rem;
} */

/* Pagination design */
.list .pagination .links a{
    font-size: 1.2rem;
    font-weight: 600;
}
.links{
    width: 4rem;
    height: 4rem;
}
.links:hover a, .links.active a{
    color: #000;
}
.links.active{
    background: #FCD406;
}
/* Pagination design */
@media (max-width:480px) {
    .list{
        padding-top: 10rem;
    }
    .links{
        width: 3rem;
        height: 3rem;
    }
}