* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .gallery-grid {
    width: 100vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 2rem;
  }
  
  .grid-item {
    height: 300px;
    background-color: black;
  }
  
  .one {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;

  }
  
  .two {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;

  }
  
  .three {
    grid-column-start: 6;
    grid-column-end: 7;
  }
  
  
  @media (max-width: 1200px) {
    .gallery-grid {
      grid-template-columns: auto auto;
    }
  
    .grid-item {
      height: 500px;
    }
  
    .one {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .two {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  
    .three {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  
  @media (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: auto;
    }
    .grid-item {
      height:600px;
    }
    .one {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .two {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  
    .three {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
  @media (max-width:480px) {
    
  }