* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excon', sans-serif;
}

html,
body {
    overflow-x: hidden;
}

:root {
    --text-color: #FCD406;
}

/* Custom classes */
.dark {
    background: #070707;
}

.yellow {
    color: #FCD406;
}

.bg-yellow {
    background: #FCD406;
}
.thin-grey{
    color: #c2c2c2;
}
.pointer {
    cursor: pointer;
}
/* Classes for font sizes */
.large-title{
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 3rem;
}
.main-title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3rem;
}

.mid-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
}

.low-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

.extra-sm-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.medium-text {
    font-size: 1.4rem;
}

.small-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
}

.extra-small {
    font-size: 0.9rem;
}

.medium-bold {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.small-bold {
    font-size: 1rem;
    font-weight: 600;
}

.extra-sm-bold {
    font-size: 0.7rem;
    font-weight: 600;
}
.paragraph{
    font-size: 1rem;
    line-height: 1.5rem;
}
.stroke {
    color: inherit;
    -webkit-text-fill-color: transparent;
    /* Set the text color to transparent for WebKit browsers */
    -webkit-text-stroke: 1px #fff;
    /* Stroke width and color for WebKit browsers */
    text-fill-color: transparent;
    /* Set the text color to transparent for other browsers */
    text-stroke: 1px #fff;/
}

.yellow-border {
    color: #FCD406;
    border: 1px solid #FCD406;
    transition: .3s ease-in;
}

.yellow-border:hover {
    background: #FCD406;
    color: #000000;
}
.card{
    transition: .3s ease-in;
}
.card:hover{
    scale:1.02;
}
/* Custom classes */

/* Navbar design */
header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
}

.navbar {
    top: 0;
    z-index: 1;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(255, 255, 255, 0) 100%);
}

.bar,
.ticket {
    transition: .3s ease;
    border-radius: 0.3rem;
}

.bar svg path,
.ticket svg path {
    stroke: #fff;
}

.bar:hover svg path,
.ticket:hover svg path {
    stroke: #000;
}

.bar:hover,
.ticket:hover {
    background: var(--text-color);
}

.logo img{
    width: 170px;
}
/* Navbar design */
/* Slide down design */
.slide-down{
    position: fixed !important;
    left: 0;
    top: -150%;
    z-index: 4;
    height: 100vh;
    overflow: auto;
    transition: 0.4s ease;
    transition-property: top;
}
.active{
    top: 0% !important;
}
/* Slide down design */
/* Body design */
.video {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.bg-img{
    height: 100vh;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.overlay img.rotate {
    width:200px;
    height:200px;
    animation: rotate 15s linear infinite;
}
.overlay .center{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .overlay img.hashtext {
    width:80px;
    height:80px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
   
}
  
.club-description .container{
    max-width: 60%;
}

/* Body design */
/* Events design */
.events {
    padding-top: 4rem;
}

.details, .blogs-details, .gallery-details {
    margin-top: 3rem;
}

.details .card {
    background: #181818;
}
.details .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .details .col-lg-7,
  .details .col-lg-5, .details .col-lg-6 {
    display: flex;
  }
  
  .details .col-lg-5 .card {
    flex: 1;
    height: 400px;
  }
  
  .details .col-lg-7 .card-img-top,
  .details .col-lg-5 .card-img-top {
    height: 100%;
    object-fit: cover;
  }
  .details .col-lg-5{
    flex-direction: column;
  }
.details .row .card .box {
    width: 4.2rem;
    height: 4.2rem;
}
/* Events design */
/* Testimonials design */
.testimonials{
    background: url(../images/rectangle.png) no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Testimonials design */
@media (max-width:1200px) {
    .testimonials{
        height: 70vh;
    }
    
}
@media (max-width:900px) {
    .club-description .container{
        max-width: 90%;
    }
    .overlay img.rotate{
        width: 150px;
        height: 150px;
    }
    .overlay img.hashtext{
        width: 60px;
        height: 60px;
    }
    .small-title{
        font-size: 1.4rem;
    }
}
@media (max-width:767px) {
    .overlay img.rotate{
        height: 180px;
        width: 180px;
    }
    .testimonials{
        height: 50vh;
    }
    .large-title{
        font-size: 3.5rem;
        font-weight: 800;
    }
    .video, .bg-img{
        height: 95vh;
    }
    
}

@media (max-width:600px) {
    .logo img{
        width: 100px;
    }
    .extra-sm-title{
        font-size: 1rem;
    }
    .large-title{
        font-size: 2.8rem;
    }
    .main-title{
        font-size: 2.4rem;
    }
    .medium-bold{
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .mid-title{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .small-bold{
        font-size: 0.9rem;
        line-height: 1rem;
    }
    .paragraph{
        font-size: 0.8rem;
        line-height: 1.3rem;
    }
    .overlay img.hashtext{
        width: 60px;
        height: 60px;
    }
    .details, .blogs-details, .gallery-details {
        margin-top: 2rem;
    }
    .details .row .card .box {
        width: 3.3rem;
        height: 3.2rem;
    }
    .events{
        padding-top: 3rem;
    }
    .card:hover{
        scale:1;
    }
    .testimonials{
        height: 40vh;
    }
}
@media (max-width:480px) {
    .large-title{
        font-size: 2rem;
    }
    .small-title{
        font-size: 1.3rem;
    }
    .extra-sm-title{
        font-size: 0.8rem;
    }
    .extra-sm-bold{
        font-size: 0.6rem;
    }
    .main-title{
        font-size: 2rem;
    }
    .medium-bold{
        font-size: 0.9rem;
        line-height: 1rem;
    }
    .mid-title{
        font-size: 1.3rem;
    }
    .small-bold{
        font-size: 0.8rem;
        font-weight: 800;
    }
    .small-text{
        font-size: 1rem;
    }
    .paragraph{
        font-size: 0.9rem;
        line-height: 1.15rem;
    }
    .events{
        padding-top: 2rem;
    }

    .details .row .card .box {
        width: 3rem;
        height: 3rem;
    }
    .testimonials{
        height: 30vh;
    }
    .card-body a{
        font-size: 0.9rem;
    }
}
/* @media (max-width:400px) {
    .overlay img.rotate{
        height: 60px;
        width: 60px;
    }
    .overlay img.hashtext{
        height: 30px;
        width: 30px;
    }
} */


  
