* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Excon', sans-serif;
}

html,
body {
    overflow-x: hidden;
}


/* Custom classes */
.dark {
    background: #070707;
}
.text-black{
    color: #000;
}
.yellow {
    color: #FCD406;
}

.bg-yellow {
    background: #FCD406;
}
.thin-grey{
    color: #c2c2c2;
}
.pointer {
    cursor: pointer;
}
/* Classes for font sizes */
.large-title{
    font-size: 4.5rem;
    font-weight: 800;
    line-height: 3rem;
}
.main-title {
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 3rem;
}

.mid-title {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
}

.low-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.small-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2rem;
}

.extra-sm-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.medium-text {
    font-size: 1.2rem;
}

.small-text {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
}

.extra-small {
    font-size: 0.9rem;
}

.medium-bold {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.5rem;
}

.small-bold {
    font-size: 1rem;
    font-weight: 600;
}

.extra-sm-bold {
    font-size: 0.7rem;
    font-weight: 600;
}
.paragraph{
    font-size: 1rem;
    line-height: 1.6rem;
}

.stroke {
    color: inherit;
    -webkit-text-fill-color: transparent;
    /* Set the text color to transparent for WebKit browsers */
    -webkit-text-stroke: 1px #fff;
    /* Stroke width and color for WebKit browsers */
    text-fill-color: transparent;
    /* Set the text color to transparent for other browsers */
    text-stroke: 1px #fff;/
}
.black-stroke {
    color: inherit;
    -webkit-text-fill-color: transparent;
    /* Set the text color to transparent for WebKit browsers */
    -webkit-text-stroke: 2px #000000;
    /* Stroke width and color for WebKit browsers */
    text-fill-color: transparent;
    /* Set the text color to transparent for other browsers */
    text-stroke: 2px #000000;/
}

.yellow-border {
    color: #FCD406;
    border: 1px solid #FCD406;
    transition: .3s ease-in;
}

.yellow-border:hover {
    background: #FCD406;
    color: #000000;
}
.card{
    transition: .3s ease-in;
}
.card:hover{
    scale:1.02;
}
/* Custom classes */

/* Navbar design */
header {
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
}

.navbar {
    top: 0;
    z-index: 1;
    background: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 20%, rgba(255, 255, 255, 0) 100%);
}

.bar,
.ticket {
    transition: .3s ease-in;
}

.bar svg,.ticket svg{
    height: 35px;
    width: 35px;
}

.bar svg path,
.ticket svg {
    stroke: #fff;
    color: #fff;
}

.bar:hover svg path,
.ticket:hover svg {
    stroke: #000;
    color: #000;
}

.bar:hover,
.ticket:hover {
    background: #FCD406;
}

.logo img{
    width: 170px;
}
/* Navbar design */
/* Slide down design */
.slide-down{
    position: fixed !important;
    left: 0;
    top: -150%;
    z-index: 4;
    height: 100vh;
    overflow: auto;
    transition: 0.4s ease;
    transition-property: top;
}
.active{
    top: 0% !important;
}
/* Slide down design */
/* Body design */
.video {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
}
.bg-img{
    height: 100vh;
    object-fit: cover;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-image: linear-gradient(to top, rgba(7, 7, 7, 1) 30%, rgba(255, 255, 255, 0) 100%);
}

.overlay img.rotate {
    width:200px;
    height:200px;
    animation: rotate 15s linear infinite;
}
.overlay .center{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .overlay img.hashtext {
    width:80px;
    height:80px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

}

.club-description .container{
    max-width: 60%;
}

/* Body design */
/* Events design */
.browse, .testimonial-details{
    margin: 5rem 0 8rem 0;
}
.browse a{
    padding: 1.2rem 3rem;
}

.event-details, .blogs-details, .gallery-details, .service-details{
    margin-top: 4rem;
    padding-bottom: 3rem;
}
.event-details .card, .blogs-details .card {
    background: #181818;
}
.event-details .row .card .box {
    width: 4.2rem;
    height: 4.2rem;
}
.event-details .row {
    display: flex;
    flex-wrap: wrap;
  }
  .event-details .col-lg-7,
  .event-details .col-lg-5, .gallery-details .col-lg-6 {
    display: flex;
  }

  .event-details .col-lg-5 .card {
    flex: 1;
  }

  .event-details .col-lg-7 .card-img-top,
  .event-details .col-lg-5 .card-img-top {
    height: 100%;
    object-fit: cover;
  }
  .event-details .col-lg-5{
    flex-direction: column;
  }

/* Events design */
/* Gallery design */
.show{
    display: none !important;
}
.gallery .right-col{
    padding: 0 1rem !important;
    overflow-x: hidden;
}

.gallery .right-col img, .gallery .left-col img{
  object-fit: cover;
}
/* Gallery design */
/* Testimonials design */
.testimonial-details{
    padding-bottom: 3rem;
}
.testimonial-left .card, .service-details .card{
    background: #0F0F0F;
    scale: 1;
    padding: 3rem;
}
.testimonial-left .card .card-header svg{
    width: 60px;
    height: 80px;
}
.testimonial-details .paragraph{
    line-height: 1.7rem;
}
.next svg{
    width: 50px;
    height: 50px;
    color: #FCD406;
}
.next button{
    background: inherit;
    border: 2px solid #FCD406;
    outline: none;
    transition: .3s ease-in;
}
.next button:hover{
    background: #FCD406;
}
.next button:hover svg{
    color: #000;
}
.testimonial-img{
    height: 750px;
    object-fit: cover;
}
.gradient-wrapper {
    position: relative;
    overflow: hidden;
}

.gradient-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 20%, rgba(0,0,0,1));
}
/* Testimonials design */

/* service design */
.service-details{
    margin-bottom: 8rem;
}
.service-details .card-header svg{
    width: 70px;
    height: 70px;
}
.service-details .card:hover{
    scale:1.02;
}
/* service design */

/* newsletter design */

.newsletter-contents{
    height:135vh;
    background: url(../images/rectangle.png)  no-repeat;
    background-size: cover;
}
.newsletter .title{
    top:30%;
    left: 0;
    right: 0;
    margin: auto;
}
.newsletter .paragraph{
    width: 60%;
    margin: auto;
    font-weight: 500;
}
/* newsletter design */

/* Media queries */
@media (max-width:1200px) {
    .service-details .row .col-lg-4{
        width: 50% !important;
    }
    .newsletter-contents{
        height: 100vh;
    }
}
@media (max-width:900px) {
    .club-description .container{
        max-width: 90%;
    }
    .large-title{
        font-size: 3rem;
    }
    .small-title{
        font-size: 1.4rem;
    }
    .browse{
        margin: 3rem 0 5rem 0;
    }
    .testimonial-img{
        height: 600px;
    }
    .service-details{
        margin-bottom: 5rem;
    }
    .newsletter-contents{
        height: 80vh;
    }
    .newsletter .paragraph{
        width: 70%;
    }
}
@media (max-width:767px) {
    .overlay img.rotate{
        height: 180px;
        width: 180px;
    }
    .main-title{
        line-height: 4rem;
    }
    .video, .bg-img{
        height: 95vh;
    }
    .mid-col.d-flex{
        display: block !important;
    }
    .right-col{
        padding: 0 1.5rem !important;
    }
    .show{
        display: flex !important;
    }
    .browse{
        margin: 5rem 0;
    }

    .gallery .left-col{
        padding: 0 1rem !important;
    }
    .gallery .show{
        padding: 0 0.8rem !important;
    }
    .side-img.d-flex, .end-row.d-flex{
        display: none !important;
    }
    .testimonial-details{
        padding-bottom: 0;
    }
    .service-details .row .col-12{
        width: 100% !important;
    }
    .newsletter-contents{
        height: 70vh;
    }
    .newsletter .paragraph{
        width: 90%;
    }

}

@media (max-width:600px) {
    .logo img{
        width: 100px;
    }
    .extra-sm-title{
        font-size: 1rem;
    }
    .large-title{
        font-size: 2.8rem;
    }
    .main-title{
        font-size: 2.4rem;
        line-height: 3rem;
    }
    .low-title {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }
    .medium-text{
        font-size: 1.1rem;
    }
    .medium-bold{
        font-size: 1rem;
        line-height: 1.1rem;
    }
    .mid-title{
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    .small-bold{
        font-size: 0.9rem;
        line-height: 1rem;
    }
    .bar svg,
    .ticket svg{
        height: 30px;
        width: 30px;
    }
    .bg-img{
        height: 96vh;
    }
    .overlay{
        background-image: linear-gradient(to top, rgba(7, 7, 7, 1) 10%, rgba(255, 255, 255, 0) 100%);
    }
    .overlay img.hashtext{
        width: 60px;
        height: 60px;
    }
    .event-details, .blogs-details, .gallery-details,.testimonial-details, .service-details {
        margin-top: 2rem;
    }
    .event-details .row .card .box {
        width: 3.3rem;
        height: 3.3rem;
    }
    .events{
        padding-top: 3rem;
    }
    .black-stroke {
        -webkit-text-stroke: 1px #000000;
        text-stroke: 1px #000000;
    }
    .service-details .card-header svg{
        width: 50px;
        height: 50px;
    }
    .testimonial-left .card, .service-details .card{
        padding: 2rem;
    }
    .testimonial-img{
        height: 400px;
    }
    .testimonial-left .card .card-header svg{
        width: 40px;
        height: 60px;
    }
    .testimonial-details .low-title{
        padding-right: 1rem;
    }
    .large-title{
        font-size: 2.3rem;
    }
    .service-details{
        margin-bottom: 3rem;
    }
    .next svg{
        width: 40px;
        height: 40px;
    }
    .newsletter-contents{
        height: 70vh;
    }
    .newsletter .paragraph{
        line-height: 1.8rem;
    }
}
@media (max-width:480px) {
    .large-title{
        font-size: 2rem;
    }
    .small-title{
        font-size: 1.3rem;
    }
    .extra-sm-title{
        font-size: 1rem;
    }
    .extra-sm-bold{
        font-size: 0.6rem;
    }
    .main-title{
        font-size: 2rem;
    }
    .medium-bold{
        font-size: 0.9rem;
        line-height: 1.1rem;
    }
    .mid-title{
        font-size: 1.3rem;
    }
    .small-bold{
        font-size: 0.8rem;
        font-weight: 800;
    }
    .small-text{
        font-size: 1rem;
    }
    .paragraph{
        font-size: 0.9rem;
        line-height: 1.35rem;
    }
    .overlay{
        height:25%;
    }
    .overlay .center{
        top:0;
    }
    .overlay img.hashtext{
        bottom:15%
    }
    .browse{
        margin-top: 4rem;
    }
    .browse a{
        padding: 1rem 2rem;
    }
    .events{
        padding-top: 2rem;
    }

    .event-details .row .card .box {
        width: 3rem;
        height: 3.1rem;
    }
    .card-body a{
        font-size: 0.9rem;
    }
    .service-details .paragraph, .testimonial-details .paragraph{
        line-height: 1.45rem;
    }
    .testimonial-left .card, .service-details .card{
        padding: 1.5rem;
    }
    .testimonial-left .card .card-header svg{
        width: 30px;
        height: 50px;
    }
    .testimonial-details{
        margin-bottom: 7rem;
    }
    .next svg{
        width: 30px;
        height: 30px;
    }
    .newsletter-contents{
        height: 60vh;
    }
    .newsletter .paragraph{
        width: 95%;
        line-height: 1.6rem;
    }
}








